<div class='flex items-center justify-center '>
  <div class="rounded-xl border p-4 shadow-md w-11/12 bg-white">
    <div class="flex w-full items-center justify-between border-b pb-3">
      <div class="flex items-center space-x-3">
        <!--                    <div class="h-8 w-8 rounded-full bg-slate-400 bg-[url('https://i.pravatar.cc/32')]"></div>-->
        <div class="text-lg font-bold text-slate-700">Debited Account</div>
      </div>
      <div class="flex items-center space-x-8">
        <div class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold">{{accountType}}</div>
      </div>
    </div>

    <div class="mt-2 ">
      <div class="mb-3 text-xl font-bold">{{name}}</div>
      <div class="text-sm text-neutral-600">{{accountNumber}}</div>
    </div>

  </div>
</div>

<div class='flex items-center justify-center mt-4'>
  <div class="rounded-xl border p-4 shadow-md w-11/12 bg-white">
    <!--            <div class="bg-white shadow-md rounded m-16 px-8 pt-6 pb-8 flex flex-col ">-->
    <form (ngSubmit)="transfer()">
      <div class="mx-3  mb-6">
        <h2 class="text-grey-darker text-lg font-bold p-4">Enter the amount and the recepient details.</h2>
        <div class="md:w-1/2 px-3 my-3">
          <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="amount">
            Amount:
          </label>
          <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-1 px-4" [(ngModel)]="amount" id="amount" name="amount" type="number"  placeholder="Amount">
        </div>
        <div class="md:w-1/2 px-3">
          <label class="block uppercase  text-grey-darker text-xs font-bold mb-2" for="recipientAccountNumber">
            Recepient Account Number:
          </label>
          <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-1 px-4" [(ngModel)]="accountNumber" id="recipientAccountNumber" name="recipientAccountNumber" type="text"  placeholder="Recepient Account Number">
        </div>
      </div>
      <button type="submit" class=" mx-6 inline-block rounded border border-indigo-600 bg-indigo-600 w-32 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500">Submit</button>
    </form>
  </div>
</div>
<p class="text-red-600 text-sm p-3">------Conditions red</p>
